*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: #111;
}

button{
    margin: 10px;
}

input{
    margin: 10px;
    padding: 10px;
}

.box{
    height: 300px;
    width: 300px;
    background-color: red;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: #555;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: #999;
}