*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;
}

button{
  margin: 10px;
  padding: 10px;
}

h1{
  width: fit-content;
  background-color: antiquewhite;
  padding: 45px 75px;
  margin: 10px;

}